<h1>Création de page angular</h1>

<p>
    Pour créer cette page j'ai du créer un nouveau dossier qui contient 3 fichiers :
    <li>
        <ul><span>myroute.component.ts</span></ul>
        <ul><span>myroute.component.html</span></ul>
        <ul><span>myroute.component.scss</span></ul>
    </li>
    <br>
    Une fois c'est trois fichier créer j'ai importer le fichier dans le <span>'app.module.ts'</span> et mis la référence 
    à la class créer dans le fichier <span>'myroute.component.ts'</span> en tant que <span>'Déclaration'</span>.
    <br>
    Enfin j'ai ajouter un chemin dans le fichier <span>'app-routing.module.ts'</span> dans lequel j'ai aussi importer mon 
    component.
</p>